<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h2 class="mb-1" id="post-title" data-id="{{id}}">{{title}}</h2>
      <small>Created by {{user.username}} on {{format_date date_created}}</small>
    </div>
    <p class="mb-1">{{content}}</p>
  </a>
</div>

{{#if comments.length}}
<div>
    <div>
        <br>
        <h4>Comments:</h4>
         {{#each comments as |comment|}}
        <p>
            {{comment.content}}<br>
            -- created at {{format_date comment.date_created}}
        </p>
         {{/each}}
    </div>
{{/if}}
</div>
{{#if logged_in}}
<div>
    <form class="new-comment-form">
        <div class="mb-3">
            <textarea class="form-control" id="comment" rows="3" placeholder="comment"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit Comment</button>
        </div>
    </form>
</div>
{{/if}}

